{% extends 'base.html.twig' %}

{% block body %}
    <h1>Seances list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Date</th>
                <th>Heure_debut</th>
                <th>Heure_fin</th>
                <th>Capacite</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for seance in seances %}
            <tr>
                <td><a href="{{ path('seance_show', { 'id': seance.id }) }}">{{ seance.id }}</a></td>
                <td>{{ seance.type }}</td>
                <td>{% if seance.date %}{{ seance.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if seance.heuredebut %}{{ seance.heuredebut|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if seance.heurefin %}{{ seance.heurefin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ seance.capacite }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('seance_show', { 'id': seance.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('seance_edit', { 'id': seance.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('seance_new') }}">Create a new seance</a>
        </li>
    </ul>
{% endblock %}
