{% extends 'base.html.twig' %}

{% block body %}
    <h1>Seance</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ seance.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ seance.type }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if seance.date %}{{ seance.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Heure_debut</th>
                <td>{% if seance.heuredebut %}{{ seance.heuredebut|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Heure_fin</th>
                <td>{% if seance.heurefin %}{{ seance.heurefin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Capacite</th>
                <td>{{ seance.capacite }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('seance_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('seance_edit', { 'id': seance.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
